* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.top-bar {
    background: #111;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 8px 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
}


.nav-left {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 15px;
}

.nav-left a {
    color: black;
    text-decoration: none;
}

.nav-left a:hover {
    color: red;
    text-decoration: underline;
}

.nav-left span {
    margin-top: -5px;
    display: none;
}

.nav-left i {
    font-size: 12px;
}


.logo img {
    width: 120px;
}


.nav-icons {
    display: flex;
    gap: 5px;
    font-size: 18px;

}




.hero {
    background-repeat: no-repeat;
    padding: 120px 20px;
    position: relative;
}

.overlay {
    text-align: center;
    color: white;
}

.small-text {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: white;
    color: black;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

.categories {
    text-align: center;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.categories h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    color: #777;
    margin-bottom: 40px;
}

.category-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.category {
    width: 140px;
    text-align: center;

}

.category img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.8s ease;
}

.category img:hover {
    transform: scale(1.08);
}

.category p {
    margin-top: 12px;
    font-size: 15px;
    color: #333;
}

.top-picks {
    text-align: center;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
}

.subtitle {
    color: #777;
    margin-bottom: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    transition: 0.3s;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h4 {
    margin: 10px 0 5px;
}

.rating {
    color: #f5a623;
    font-size: 14px;
}

.price {
    font-weight: bold;
}

.price span {
    text-decoration: line-through;
    color: #999;
    margin-left: 8px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}


.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}

.new {
    background: green;
}

.sale {
    background: red;
}

.trend {
    background: orange;
    left: 60px;
}

.products {
    padding: 40px 20px;
    text-align: center;
    background: white;
}

.products h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.products p {
    color: #777;
    margin-bottom: 40px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 4px;
    position: relative;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
    background: #eee;
}

.categories1 {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 600px;
}

.grid div {
    position: relative;
    overflow: hidden;
}

.grid img {
    width: 100%;
    height: 100%;

}

.women {
    grid-row: span 2;
}

.women img {
    height: 800px;
    width: 800px;
}

.grid h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.produce h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.produce p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 750px;
}

.testimonials {
    padding: 60px 8%;
    text-align: center;
}

.testimonials h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: rgb(16, 16, 16);
    margin-bottom: 10px;
}

.testimonials p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(105, 110, 115);
}

.subtitle {
    color: #777;
    margin-bottom: 40px;
}

.testimonial-container {
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
}

.card {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card.reverse {
    flex-direction: row-reverse;
}

.card img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.content {
    text-align: left;
    max-width: 500px;
}

.stars {
    color: #f5a623;
    margin-bottom: 10px;
}

.content h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(16, 16, 16);
    margin-bottom: 10px;
}

.verified {
    color: green;
    font-size: 14px;
    margin-left: 10px;
}

.content p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(16, 16, 16);
    margin-bottom: 20px;
}

.product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.product span {
    color: red;
    font-weight: bold;
}

.bottoms {
    width: 95%;
    margin: auto;
   
   
    /* padding-bottom: 25px; */
    /* padding-top: 30px; */
    

}

.bottoms1 {
     display: flex;
    gap: 10px; 
    list-style: none;
     position: fixed;
     bottom: 0;
    background-color: white;
}

.bottoms li {
    font-size: 13px;
}



@media (max-width: 500px) {
    .nav-left a {
        display: none;
    }

    .nav-icons i {
        display: none;
    }

    .nav-left span {
        display: block;
    }

    .nav-icons span {
        position: relative;
        right: -20px;
    }


    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .top-bar {
        font-size: 12px;
    }


    .hero {
        padding: 80px 15px;
    }

    .small-text {
        font-size: 10px;
        letter-spacing: 1px;
        display: none;
    }

    h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }

    .category-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .category {
        width: 90%;
    }

    .category img {
        width: 120px;
        height: 120px;
    }

    .category p {
        font-size: 14px;
    }

    .categories h2 {
        font-size: 20px;
    }

    .cate3 {
        display: none;
    }

    .cate4 {
        display: none;
    }

    .cate5 {
        display: none;
    }

    .cate6 {
        display: none;
    }

    .product-card {
        overflow: hidden;
    }

    .product-card img {
        height: 70px;
        width: 80px;
    }

    .price1 {
        display: none;
    }

    .badge .new {
        display: none;
    }

    .categories1 {
        width: 90%;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }


    .women img {
        width: 100%;
        height: 100%;
    }

    .men img {
        width: 100%;
        height: 100%;
    }

    .essentials img {
        width: 100%;
        height: 100%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    
    body {
        overflow-x: hidden;
    }


    .nav-link-1 li a {
        display: none;
    }

    .nav-link-2 {
        display: none;
    }

    .hidden {
        display: block;
        font-size: 1.8rem;
    }

 
    .hero {
        height: auto;
        padding: 60px 20px;
    }

    .hero-text {
        width: 100%;
        padding-top: 50px;
    }

    .hero-text p {
        font-size: 28px;
        line-height: 36px;
    }

    .hero-text h3 {
        display: none;
    }

    .hero-text button {
        padding: 12px 25px;
        font-size: 0.8rem;
    }

    
    .image-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .photo img {
        width: 150px;
        height: 150px;
    }

    
    .album,
    .products {
        grid-template-columns: 1fr;
    }

   
    .grid {
        grid-template-columns: 1fr;
    }

    .women {
        grid-row: span 1;
    }


    .gallery {
        flex-direction: column;
        gap: 15px;
    }

    .gallery img {
        width: 100%;
    }


    .testimonial-container {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        text-align: center;
    }

    .card.reverse {
        flex-direction: column;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .content {
        text-align: center;
    }

    .product {
        justify-content: center;
    }

    .today h2,
    .trending h2,
    .Shop h2 {
        font-size: 26px;
    }

    .today p,
    .Shop p,
    .trending .sub {
        font-size: 14px;
    }

    .card.reverse{
        display: ;
    }
    .product{
        display: none;
    }
    

}
